.introduction {
 color: blueviolet;
}
 
.education{
    color:blue
}

.experience{
    color:blue
    margin-right 3px;
}

.skills{
    color:blue
    margin-right 10px;
}

.objection{
    color:blue
}